bootstrap.servers=powerful-spaniel-12322-eu2-kafka.upstash.io:9092
sasl.mechanism=SCRAM-SHA-256
security.protocol=SASL_SSL
sasl.jaas.config=org.apache.kafka.common.security.scram.ScramLoginModule required \
  username="cG93ZXJmdWwtc3BhbmllbC0xMjMyMiQ05wbgy_Zyx08dKsCIdkIqshwRGKrv0oU" \
  password="MTZiMDYyZTEtZDY1Yy00MjUxLWIxMDktOWZjYmYxM2IxMmYx";